footer{
  ul.inline-list{
    li{
      display:inline-block;
      float:none;
      a{
        .transition(150ms all);
        font-size:1.25em;
        @media only screen and (max-width: 40em){
          font-size:2em;
        }
        @media only screen and (min-width: 40.1em) and (max-width: 90em){
          font-size:1.5em;
        }
      }
    }
  }
  .digitalocean{
    padding:0 0 20px;
  }
  .footer-accent{
    border-top:5px solid @headingColor;
    background:url('../img/bg.jpg') center bottom no-repeat;
    background-size:cover;
    padding:12px 0;
  }
}
